@using BlazorConwayGameOfLife.Models
@using System.Security.Cryptography;

<div class="container">
    <div class="row">
        <div class="col-2">
            @if (RunSimulation)
            {
                <button class="btn btn-primary" disabled>Randomize</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="(() => Randomize())">Randomize</button>
            }
        </div>
        <div class="col-2">
            @if (RunSimulation)
            {
                <button class="btn btn-primary" disabled>Randomize</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="(() => Clear())">Clear</button>
            }
        </div>
        <div class="col-2">
            @if (RunSimulation)
            {
                <button class="btn btn-secondary" @onclick="(() => Stop())"><i class="fa fa-stop"></i> Stop</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="(async () => await Run())"><i class="fa fa-play"></i> Run</button>
            }
        </div>
    </div>
    @for (int i = 1; i < Rows; i++)
    {
        <div class="row flex-nowrap gameoflife-container">
            @for (int j = 1; j < Columns; j++)
            {
                var x = i;
                var y = j;
                var cell = Grid[x, y];

                if (cell == Status.Alive)
                {
                    <div
                         @onclick="(() => ChangeStatus(x,y))"><img src="/images/blackbox.png" /></div>
                }
                else
                {
                    <div
                         @onclick="(() => ChangeStatus(x,y))"><img src="/images/whitebox.png" /></div>
                }
            }
        </div>
    }
</div>

<hr />



@code {
    public int Rows { get; set; }
    public int Columns { get; set; }
    public bool RunSimulation { get; set; }

    public Status[,] Grid { get; set; }

    public GameOfLife()
    {
        Rows = 50;
        Columns = 100;
        Grid = new Status[Rows, Columns];
    }

    public async Task Run()
    {
        RunSimulation = true;
        while (RunSimulation)
        {
            CalculateNextGeneration();
            StateHasChanged();
            await Task.Delay(10);
        }
    }

    public void Stop()
    {
        RunSimulation = false;
    }

    public void ChangeStatus(int row, int column)
    {
        Grid[row, column] = Grid[row, column] == Status.Dead ? Status.Alive : Status.Dead;
    }

    public void Randomize()
    {
        for (var row = 0; row < Rows; row++)
        {
            for (var column = 0; column < Columns; column++)
            {
                Grid[row, column] = (Status)RandomNumberGenerator.GetInt32(0, 2);
            }
        }
    }

    public void Clear()
    {
        for (var row = 0; row < Rows; row++)
        {
            for (var column = 0; column < Columns; column++)
            {
                Grid[row, column] = Status.Dead;
            }
        }
    }

    public void CalculateNextGeneration()
    {
        var nextGeneration = new Status[Rows, Columns];

        // Loop through every cell
        for (var row = 1; row < Rows - 1; row++)
        {
            for (var column = 1; column < Columns - 1; column++)
            {
                // find your alive neighbors
                var aliveNeighbors = 0;
                for (var i = -1; i <= 1; i++)
                {
                    for (var j = -1; j <= 1; j++)
                    {
                        aliveNeighbors += Grid[row + i, column + j] == Status.Alive ? 1 : 0;
                    }
                }

                var currentCell = Grid[row, column];

                // The cell needs to be subtracted
                // from its neighbors as it was
                // counted before
                aliveNeighbors -= currentCell == Status.Alive ? 1 : 0;

                // Implementing the Rules of Life

                // Cell is lonely and dies
                if (currentCell == Status.Alive && aliveNeighbors < 2)
                {
                    nextGeneration[row, column] = Status.Dead;
                }

                // Cell dies due to over population
                else if (currentCell == Status.Alive && aliveNeighbors > 3)
                {
                    nextGeneration[row, column] = Status.Dead;
                }

                // A new cell is born
                else if (currentCell == Status.Dead && aliveNeighbors == 3)
                {
                    nextGeneration[row, column] = Status.Alive;
                }
                // All other cells stay the same
                else
                {
                    nextGeneration[row, column] = currentCell;
                }
            }
        }
        Grid = nextGeneration;
    }
}
